<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Encuestas{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/main.css/') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('build/favicon.ico') }}" />
    </head>

    {% block header %}
        <header>
            <h1>Confirmación de asistencia a sesión informativa sobre consejo dietético y la práctica recomendable de actividad física</h1>
        </header>
    {% endblock %}

    <div class="container body-container">
        {% block body %}
            <div class="row">
                <div id="main" class="col-sm-9">
                    {{ include('default/_flash_messages.html.twig') }}

                    {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    </body>
</html>
