{% extends 'encuesta/base.html.twig' %}

{% block body_id 'encuesta_index' %}

{% block main %}
    <p>Lugar:  Delegación Territorial de Educación (Salón de actos del Edificio de Servicios Múltiples )<br>
        Fecha: 28 de junio de 2018<br>
        Hora:   8:00<br>
    </p>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> Confirmar Asistencia
    </button>

    {{ form_end(form) }}
{% endblock %}