{% extends 'encuesta/base.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>Listado de Respuestas</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th scope="col">Servicio</th>
            <th scope="col">Nombre</th>
        </tr>
        </thead>
        <tbody>
        {% for encuesta in encuestas %}
            <tr>
                <td>{{ encuesta.nombreServicio }}</td>
                <td>{{ encuesta.nombre }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">No se han encontrado respuestas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
