{% extends 'encuesta/base.html.twig' %}

{% block body %}
    <h2>
        Para acceder a esta página debes introducir el usuario y contraseña de tu correo corporativo y estar habilitado por el departamento de Proceso de Datos.
    </h2>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

<form action="{{ path('encuesta_login') }}" method="post">
    <label for="username">Usuario:</label>
    <input type="text" id="username" size="40" name="_username" value="{{ last_username }}" placeholder="Identificador de su correo corporativo" />

    <label for="password">Clave:</label>
    <input type="password" id="password" size="40" name="_password" placeholder="Contraseña del correo corporativo"/>

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit">login</button>
    </form>{% endblock %}
