{% extends 'base.html.twig' %}

{% block body_id 'publicacion_edit' %}

{% block main %}

    {{ form_start(form) }}
        {# render the task's only field: description #}
        {{ form_row(form.description) }}

        <h3>Tags nuevo</h3>
        <ul id="tag-fields-list"
            data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-remove-button-tags='<button type="button">Eliminar el tag</button>'
        >
            {% for tag in form.tags %}
                <li>
                    {{ form_row(tag.name) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button"
                class="add-another-collection-widget"
                data-list="#tag-fields-list">Añadir Tag
        </button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/dynamic_forms.js') }}"></script>
{% endblock %}
