{{ include('publicacion/_delete_confirmation.html.twig') }}
<form action="{{ url('publicacion_delete', {id: publicacion.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-lg btn-block btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Borrar
    </button>
</form>