{% extends 'base.html.twig' %}
{% block body_id 'publicacion_edit' %}

{% block main %}
    <h1>Editar Publicación</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <ul id="tag-fields-list"
            data-prototype="{{ form_widget(form.emails.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}">
            {% for emailField in form.emails %}
                <li>
                    {{ form_errors(emailField) }}
                    {{ form_widget(emailField) }}
                </li>
            {% endfor %}
        </ul>
    <button type="button"
            class="add-another-collection-widget"
            data-list="#email-fields-list">Añadir fichero
    </button>

    <br><br>

        <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
            <i class="fa fa-save" aria-hidden="true"></i> Guardar
        </button>

        <a href="{{ path('publicacion_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Volver al Listado de Publicaciones
        </a>
    {{ form_end(form) }}
{% endblock %}


{% block sidebar %}
    <div class="section actions">
        {{ include('publicacion/_delete_form.html.twig', {publicacion: publicacion}, with_context = false) }}
    </div>

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function () {
        $('.add-another-collection-widget').click(function (e) {
            var list_name = $('.add-another-collection-widget').attr('data-list');
            var list = $(list);
            // Try to find the counter of the list
            var counter = list.data('widget-counter') | list.children().length;
            // If the counter does not exist, use the length of the list
            if (!counter) { counter = list.children().length; }

            // grab the prototype template
            var newWidget = list.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, counter);
            // Increase the counter
            counter++;
            // And store it, the length cannot be used if deleting widgets is allowed
            list.data(' widget-counter', counter);

            // create a new list element and add it to the list
            var newElem = list.attr('data-widget-tags').html(newWidget);
            newElem.appendTo(list);
         });
    });
    </script>
{% endblock %}
