{% extends 'base.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>Listado de Publicaciones</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
        <tr>
            <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> Fecha</th>
            {% if isAdministrator %}
                <th scope="col">Usuario</th>
            {% endif %}
            <th scope="col">Título</th>
            <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for publicacion in publicaciones %}
            <tr>
                <td>{{ publicacion.fecha| date("d/m/Y") }}</td>
                {% if isAdministrator %}
                    <td>{{ publicacion.email }}</td>
                {% endif %}
                <td>{{ publicacion.titulo }}</td>
                {# it's not mandatory to set the timezone in localizeddate(). This is done to
                   avoid errors when the 'intl' PHP extension is not available and the application
                   is forced to use the limited "intl polyfill", which only supports UTC and GMT #}

                <td class="text-right">
                    <div class="item-actions">
                        <a href="{{ path('publicacion_edit', {id: publicacion.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i> Editar
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">No se han encontrado publicaciones</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('publicacion_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> Crear
        </a>
    </div>

    {{ parent() }}

{% endblock %}
