{% extends 'base.html.twig' %}
{% block body_id 'publicacion_new' %}

{% block main %}
    <h1>Nueva Publicación</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
            <i class="fa fa-save" aria-hidden="true"></i> Crear
        </button>

        <a href="{{ path('publicacion_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Volver al Listado de Publicaciones
        </a>
    {{ form_end(form) }}
{% endblock %}
