<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/main.css/') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('build/favicon.ico') }}" />
    </head>

    {% block header %}
        <header>
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header col-md-3 col-lg-2">
                        <a class="navbar-brand" href="{{ path('homepage') }}">
                            Gestión de Publicaciones
                        </a>

                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">

                            {% block header_navigation_links %}
                                <li>
                                    <a href="{{ path('publicacion_index') }}">
                                        <i class="fa fa-home" aria-hidden="true"></i>Inicio
                                    </a>
                                </li>
                            {% endblock %}

                            {% if app.user %}
                                <li>
                                    <a href="{{ path('logout') }}">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> Desconectarse
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    <div class="container body-container">
        {% block body %}
            <div class="row">
                <div id="main" class="col-sm-9">
                    {{ include('default/_flash_messages.html.twig') }}

                    {% block main %}{% endblock %}
                </div>

                <div id="sidebar" class="col-sm-3">
                    {% block sidebar %}
                        {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                            'template': 'publicacion/about.html.twig',
                            'sharedAge': 600,
                        })) }}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div id="footer-copyright" class="col-md-6">
                    </div>

                </div>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/js/main.js') }}"></script>
    {% endblock %}
    </body>
</html>
