{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Bienvenido a la Intranet de la Unidad de Proceso de Datos</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    Acceso a publicaciones
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('publicacion_index') }}">
                        <i class="fa fa-users" aria-hidden="true"></i> Acceder
                    </a>
                </p>
            </div>
        </div>

    </div>
{% endblock %}
